################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S1/Calculations/obj
/S1/Calculations/bin/Debug/netcoreapp3.1
/S1/Calculations/obj
/S1/Calculations/.vs/Calculations/v16
/S1/Calculations/.vs/Calculations
/S1/Calculations.Test/obj
/S1/Calculations.Test/bin/Debug/netcoreapp3.1
